<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>

		<add key="CompCode" value="1"/>
		
		<!--Processsor Type = 69 -->
		<add key="LogFileName" value="AgentEWLDtlDeDb.txt"/>
		<!--AlertTranTableGroup : 0 - goto Alert Pool, 1 - goto Watchlist Alert Pool-->
		<add key="AlertTranTableGroup" value="0"/>
		<!--Alert assign branch ind: 0 - Hardcode to one branch; 1 - To Cif/Account branch base on rule config -->
		<add key="AssignBrInd" value="0"/>
		<!--Alert Assign to which branch (AssignToBrCode : A01)-->
		<add key="AssignToBrCode" value="A01"/>
		<!--Alert Transaction Code-->
		<add key="AlertTranCode" value="100"/>
		<!--For replication: 0 - Truncate, 1 - Delete-->
		<add key="DeletionMethod" value="0"/>
		<!--Filter Setting || 0-Off, Value-Follow CATEGORY_TYPE in WATCHLISTALGORITHMCAT table -->
		<add key="FilterSetting" value="3"/>
		<!-- *                                                                 *-->
		<!-- Ensure you hanve configure to pass one of FullScanScheduleKey parameter in run job script-->
		<!-- Eg [Job_Id Parameter] or [SC_JOBID NONE]-->
		<!--FullScanScheduleKey : NONE - No Full Scan -->
		<!--FullScanScheduleKey : ACCOUNTMISCA01 - Schudule Full Scan for table(ACCOUNTMISCA01)-->
		<!--FullScanScheduleKey : CIF05 - Schudule Full Scan for table(Agency)-->
		<!--FullScanScheduleKey : CIF05 - Schudule Full Scan for table(Agency)-->

	</appSettings>
	<connectionStrings>
		<add name="CommonContext" connectionString="Data Source=localhost\MSSQLSERVER01;Initial Catalog=ISEM_MY1;User ID=tbml;pwd=abc123;"
			providerName="System.Data.SqlClient"/>
		<!--<add name="AMLDBConnectionString" connectionString="Data Source=localhost\MSSQLSERVER01;Provider=SQLNCLI11;Initial Catalog=ISEM_MY1;Trusted Connection=True;Integrated Security=SSPI"/>-->
	</connectionStrings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>