<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="CompCode" value="1" />
		<add key="UserId" value="Server" />

		<!--Processsor Type = 69 -->
		<add key="LogFileName" value="AgentBatchScanPartialWLAuto.txt"/>
		<!--AlertTranTableGroup : 0 - goto Alert Pool (default), 1 - goto Watchlist Alert Pool, 2 - csv file-->
		<add key="AlertTranTableGroup" value="2"/>
		<!--Alert assign branch ind: 0 - Hardcode to one branch; 1 - To Cif/Account branch base on rule config -->
		<add key="AssignBrInd" value="0"/>
		<!--Alert Assign to which branch (AssignToBrCode : A01)-->
		<add key="AssignToBrCode" value="10"/>
		<!--Alert Transaction Code-->
		<add key="AlertTranCode" value="100"/>
		<add key="BatchResultFolder" value="D:\AML_UPLOAD\BatchScanResult"/>
		<!--Scan Method :: 0 - Scan Full (Always return in csv), 1 - Scan Partial-->
		<add key="ScanFullPartial" value="1"/>
		<!--DetectionInd: 0 - Watchlist only; 1 - Both Watchlist & Transaction-->
		<add key="DetectionInd" value="0"/>
		<!--Threshold Amount (default to 0)-->
		<add key="Amount" value="20000"/>


	</appSettings>
	<connectionStrings>

		<!--Testing Server
		<add name="CommonContext" connectionString="Data Source=192.168.2.70,50679;Initial Catalog=ISEM_BANK_TEMP;User ID=cheewei.wong;pwd=#Tess54321;" providerName="System.Data.SqlClient" />
-->

		<!--Local-->
		<add name="CommonContext" connectionString="Data Source=localhost\MSSQLSERVER01;Initial Catalog=ISEM_MY1;User ID=ISEM;pwd=abc123;" providerName="System.Data.SqlClient" />
		

	</connectionStrings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>