<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	
	<connectionStrings>
		<!--Testing Server-->
		<add  name="CommonContext" connectionString="Data Source=192.168.2.70,50679\MSSQLSERVER19;Initial Catalog=ISEM_PANDA_STG;User ID=pandaDev;pwd=sa123qwe!@#;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<!--Logger Configurations-->
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		throwExceptions="true"
        internalLogFile="C:/ProgramData/ISEM10/BatchProgram/AgentRiskScore/Logs/test.txt"
        internalLogLevel="Trace"
        internalLogToConsole="true">
		<targets>
			<target name="jsonFile" xsi:type="File" fileName="C:/ProgramData/ISEM10/BatchProgram/AgentRiskScore/Logs/${date:format=yyyy-MM-dd}-Log.json" >
				<layout xsi:type="JsonLayout" includeEventProperties="true" excludeProperties="Comma-separated list (string)">
					<attribute name="Time" layout="${longdate}" />
					<attribute name="Level" layout="${level:upperCase=true}"/>
					<attribute name="Message" layout="${message}" />
					<attribute name="Exception" layout="${exception:format=@}" />
				</layout>
			</target>
		</targets>
		<extensions>
			<add assembly="NLog.Web.AspNetCore"/>
			<add assembly="NLog.Extensions.Logging"/>
		</extensions>
		<rules>
			<logger name="Logger" minlevel="Trace" writeTo="jsonFile" />
		</rules>
	</nlog>
</configuration>