<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="jsonFile" xsi:type="File" fileName="C:/ProgramData/ISEM10/BatchProgram/AgentRiskScore/Logs/${date:format=yyyy-MM-dd}-Log.json" >
			<layout xsi:type="JsonLayout" includeEventProperties="true" excludeProperties="Comma-separated list (string)">
				<attribute name="Time" layout="${longdate}" />
				<attribute name="Level" layout="${level:upperCase=true}"/>
				<attribute name="Message" layout="${message}" />
				<attribute name="Exception" layout="${exception:format=@}" />
			</layout>
		</target>
		<target xsi:type="ColoredConsole"
          name="String"
          encoding="Encoding"
          layout="Layout"
          header="Layout"
          footer="Layout"
          useDefaultRowHighlightingRules="Boolean"
          errorStream="Boolean"
          enableAnsiOutput="Boolean"
          detectConsoleAvailable="Boolean"
          detectOutputRedirected="Boolean">
			<highlight-row condition="Condition" backgroundColor="Enum" foregroundColor="Enum"/>
			<!-- repeated -->
			<highlight-word text="String" condition="Condition" backgroundColor="Enum" foregroundColor="Enum"
							ignoreCase="Boolean" regex="String" wholeWords="Boolean" compileRegex="Boolean"/>
			<!-- repeated -->
		</target>
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Extensions.Logging"/>
	</extensions>
	<rules>
		<logger name="Logger" minlevel="Trace" writeTo="jsonFile" />
		<logger name="ConsoleLogger" minlevel="Trace" writeTo="String" />
	</rules>
</nlog>