<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="jsonFile" xsi:type="File" fileName="C:/ProgramData/ISEM10/BatchProgram/AgentRiskScore/Logs/${date:format=yyyy-MM-dd}-Log.json" >
			<layout xsi:type="JsonLayout" includeEventProperties="true" excludeProperties="Comma-separated list (string)">
				<attribute name="Time" layout="${longdate}" />
				<attribute name="Level" layout="${level:upperCase=true}"/>
				<attribute name="Message" layout="${message}" />
				<attribute name="Exception" layout="${exception:format=toString}" />
			</layout>
		</target>
		<target xsi:type="ColoredConsole"
          name="WriteToConsole"
          encoding="utf-8"
          useDefaultRowHighlightingRules="true">
			<layout xsi:type="JsonLayout" includeEventProperties="true" excludeProperties="Comma-separated list (string)">
				<attribute name="Time" layout="${longdate}" />
				<attribute name="Level" layout="${level:upperCase=true}"/>
				<attribute name="Message" layout="${message}" />
				<attribute name="Exception" layout="${exception:format=@ }" />
			</layout>
		</target>
	</targets>
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Extensions.Logging"/>
	</extensions>
	<!--LOG LEVEL-->
	<!--
	Trace: Most verbose level. Used for development.
	Debug: Debug application behaviour from internal events of interest.
	Info: Information that highlights progress.
	Warn: Warnings about validation issues or temporary failures that can be recovered.
	Error: Errors where functionality has failed or exception is caught.
	Fatal: Most critical. Application about to abort.
	-->
	<rules>
		<logger name="Logger" minlevel="Trace" writeTo="jsonFile,WriteToConsole" />
	</rules>
	
</nlog>