<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<!-- Default to 1 -->
		<add key="CodeComp" value="1" />
		<add key="CodeOrg" value="1" />
		<add key="UserId" value="Server" />
		<add key="LogFileName" value="AgentRiskHistUptLog.txt" />

		<!--Update : 0 - Skip Update Previous Score Field, 1 - Update Previous Score Field-->
		<add key="UpdatePreviousScoreInd" value="1" />
		<!--Final Risk Score - [cor_CodeNo] >> default to 1700 -->
		<add key="RiskScoreCode" value="1700" />

		<!--Sample Settings for CIF
		<add key="RiskChangePartAt" value="C" />
		<add key="TargetedTable" value="CIFRISKHIST01" />
		<add key="SourceTable" value="CIF01" />
		<add key="ChangeTable" value="CIFCHANGE01" />
		<add key="TempTable" value="CIFTEMP01" />
		<add key="Participant_Filter" value="" />
		<add key="CurrentRiskScoreField" value="DATE_VALUE8" />
		<add key="PreviousRiskScoreField" value="DATE_VALUE9" />
		-->

		<!--Sample Settings for ACCOUNT
		<add key="RiskChangePartAt" value="A" />
		<add key="TargetedTable" value="ACCOUNTRISKHIST01" />
		<add key="SourceTable" value="ACCOUNT01" />
		<add key="ChangeTable" value="ACCOUNTCHANGE01" />
		<add key="TempTable" value="ACCOUNTTEMP01" />
		<add key="Participant_Filter" value="" />
		<add key="CurrentRiskScoreField" value="AField08" />
		<add key="PreviousRiskScoreField" value="AField09" />
		-->
		<!-- Total risk score part at: C - CIF (default), A - Account -->
		<add key="RiskChangePartAt" value="C" />
		<!--if there is any change of risk score, Result Stored at Target Table Name (eg: CIFRISKHIST01 / ACCOUNTRISKHIST01) -->
		<add key="TargetedTable" value="CIFRISKHIST01" />
		<!--Extract any change of risk score from Source Table Name (eg: CIF01 / ACCOUNT01)-->
		<add key="SourceTable" value="CIF01" />
		<!--Extract any change of risk factor (NEW) from Change Table Name (eg: CIFCHANGE01 / ACCOUNTCHANGE01)-->
		<add key="ChangeTable" value="CIFCHANGE01" />
		<!--Extract any change of risk factor (OLD) from Temp Table Name (eg: CIFTEMP01 / ACCOUNTTEMP01)-->
		<add key="TempTable" value="CIFTEMP01" />
		<!--For Participant Field >> Individual: "DATA_VALUE3 = 'Y'", Business: "DATA_VALUE3 = 'N'" -->
		<add key="Participant_Filter" value="" />
		<!--Current Risk Score Field Name (Should be Same Value at Row B/C in Table 2154) -->
		<add key="CurrentRiskScoreField" value="DATE_VALUE8" />
		<!--Previous Risk Score Field Name (Should be Same Value at Row D/E in Table 2154) -->
		<add key="PreviousRiskScoreField" value="DATE_VALUE9" />


		<!--For Risk Setting - [cor_CodeNo] >> 2147: BANK (default), 2167: INS -->
		<add key="Risk_Setting" value="2147"/>
		<!--For Risk_Column_Table - [cor_ValueF2] >> 2154: Empty (default), 2189: Corporate, 2145: individual -->
		<add key="Risk_Column_Table" value="2195" />
		
		<!--Only proccess those New Risk score >= xxx value if there is any change of risk score-->
		<!--<add key="NewMinRiskScore" value="33" />-->
		
		
		
		<!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
		
		
		
		
	</appSettings>
	<connectionStrings>
		
		<!--Testing Server-->
		<!--<add name="CommonContext" connectionString="Data Source=192.168.2.70,50679;Initial Catalog=ISEM_BANK_TEMP;User ID=cheewei.wong;pwd=#Tess54321;" providerName="System.Data.SqlClient" />-->
		<add name="CommonContext" connectionString="Data Source=CHEESHENG-PC\MSSQLSERVER19;Initial Catalog=ISEM10;User ID=sa;pwd=@tess321;" providerName="System.Data.SqlClient" />
		
		
		<!--Local
		<add name="CommonContext" connectionString="Data Source=localhost\MSSQLSERVER01;Initial Catalog=ISEM_MY1;User ID=ISEM;pwd=abc123;" providerName="System.Data.SqlClient" />
		-->

	</connectionStrings>
	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>